extends ../shared/template
block content
  h2 Swap-de-monium
  .container
    .row
      .col-xs-12
        #bigmap
    .row
      .col-xs-12
        table.table.table-striped
          thead
            th Photo
            th Name
            th Description
            th Bids
            th Location
            th tags
            th Seller
          tbody
            each location in locations
              tr.locactions(data-lat=location.lat, data-lng=location.lng, data-name=location.email)
            each item in items
              tr
                td.photo.thumbnail(style='background-image:url(#{item.photos[0]});')
                td: a(href='/items/#{item._id}')= item.name
                td: a(href='/items/#{item._id}')= item.description
                td: a(href='/items/#{item._id}')= item.bids
                td: a(href='/items/#{item._id}')= item.location
                td= item.tags
                td: a(href='/profile')
block scripts
  script(src='/js/user/itemsIndex.js')
