extends ../shared/template
block content
  h2 New Item
  .row
    .col-xs-4.col-xs-offset-4
      form(role='form', method='post', action='/items', enctype='multipart/form-data')
        .radio
          label
            input(type='radio' name='isAvailable' value='true' checked=true)
            span Available for Sale
        .radio
          label
            input(type='radio' name='isAvailable' value='false')
            span Not for Sale
        .form-group
          label(for='nameItem') Name of Item
          input.form-control#name(type='text', name='name', placeholder='Disco Ball', autofocus=true)
        .form-group
          label(for='description') Description of Item
          textarea.form-control#description(type='text', name='description')
        .form-group
          label(for='photo') Photo
          input.form-control#photo(type='file', name='photo', value=user.photo, multiple=true)
        .form-group
          label(for='tags') Tags
          input.form-control#tags(type='text', name='tags', value=user.tags)
        button.btn.btn-success.btn-group-lg(type='submit') Add Item

block scripts
  script(src='/js/user/itemNew.js')


